# Server Environment
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dashmeabeg?schema=public"

# Blockchain
RPC_URL="https://rpc.monad-testnet.category.xyz/rpc"
CHAIN_ID=10143
CONTRACT_ADDRESS="0x575dca87061898C3EbBC2a8F2a49C09120E88951"
SIGNER_PRIVATE_KEY=""

# Subgraph
SUBGRAPH_URL="https://api.goldsky.com/api/public/project_cmnn27cgufwam01x895lwbit9/subgraphs/giveaway/1.0.0/gn"

# CORS
CORS_ORIGIN="http://localhost:3000"
